
.verticalLine {
    width:1%;
    height:50px;
    margin-top: 0;
    position: relative;
    margin-left: 5%;
  }

.image-card {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.color-icon{
    color: var(--ion-color-primary);
}

