<ion-header>
  <ion-toolbar>
    <ion-title>total-users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="ionicGrid">
    <ion-row class="ion-text-center">
      <ion-col id="displayAllHistoryTab">
        <button id='hidden-button' (click)="displayAllHistory()">
          <ion-label>All Active Users</ion-label>
        </button>
      </ion-col>
      <ion-col id="displayEarningsTab">
        <button id='hidden-button' (click)="displayEarnings()">
          <ion-label>All Deactivated</ion-label>
        </button>
      </ion-col>
      <ion-col id="displaySpendingsTab">
        <button id='hidden-button' (click)="displaySpendings()">
          <ion-label>Spendings</ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
