<ion-header>
  <ion-toolbar color="success-shade">
    <ion-title>Carbon Footprint Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="carbonFootprintForm">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="funnel-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Annual Fuel Price: $ </ion-label>
            <ion-input id="fuelPrice" type="number" min="0" formControlName="fuelPrice"></ion-input>
          </ion-item>
          <div *ngIf="fuelPrice.touched && fuelPrice.errors" class="errors">
            <span *ngIf="fuelPrice.errors?.required">If no vehicle, please input 0</span>
          </div>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="bonfire-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Fuel Used:</ion-label>
            <ion-select formControlName="fuel">
              <ion-select-option *ngFor="let fuel of TypesOfFuel" [value]="fuel">
                {{fuel}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="car-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Number of Vehicles:</ion-label>
            <ion-input type="number" min="0" formControlName="numberOfVehicles"></ion-input>
          </ion-item>
          <div *ngIf="numberOfVehicles.touched && numberOfVehicles.errors" class="errors">
            <span *ngIf="numberOfVehicles.errors?.required">If no vehicle, please input 0</span>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="flash-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Annual Electricity Price: $</ion-label>
            <ion-input type="number" min="0" formControlName="electricityPrice"></ion-input>
          </ion-item>
          <div *ngIf="electricityPrice.touched && electricityPrice.errors" class="errors">
            <span *ngIf="electricityPrice.errors?.required">Annual Electricity Price is required</span>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="color-fill-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Annual Natural Gas Price: $</ion-label>
            <ion-input type="number" min="0" formControlName="naturalGasPrice"></ion-input>
          </ion-item>
          <div *ngIf="naturalGasPrice.touched && naturalGasPrice.errors" class="errors">
            <span *ngIf="naturalGasPrice.errors?.required">Annual Gas Price is required</span>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="business-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>No. of Facilities:</ion-label>
            <ion-input type="number" min="0" formControlName="noOfFacilities"></ion-input>
          </ion-item>
          <div *ngIf="noOfFacilities.touched && noOfFacilities.errors" class="errors">
            <span *ngIf="noOfFacilities.errors?.required">Number of Facilities is required</span>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div class="ion-text-center">
      <ion-button color="success-shade" class="buttonColor" fill="outline" (click)="calculate()" id="carbonFootprintBtn">
        Calculate Carbon Footprint
      </ion-button>
    </div>


  </form>
</ion-content>