<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="end">
      <ion-icon name="close-circle" id="closeIcon" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title>Select a Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngFor="let card of cardArray" id="cardsItem"> 
      <img src="assets/icon/visa.png" id="cardVisa" *ngIf="card.cardNum.charAt(0) == 4">
      <img src="assets/icon/mastercard.png" id="cardMastercard" *ngIf="card.cardNum.charAt(0) == 5">
      <ion-label *ngIf="card.cardNum.charAt(0) == 4 && cardNum != card.cardNum" class="ion-padding-start" (click)="clickCard(card)">Visa {{card.cardNum.substr(-4)}}</ion-label>
      <ion-label *ngIf="card.cardNum.charAt(0) == 5 && cardNum != card.cardNum" class="ion-padding-start" (click)="clickCard(card)">Mastercard {{card.cardNum.substr(-4)}}</ion-label>
      <ion-label *ngIf="card.cardNum.charAt(0) == 4 && cardNum == card.cardNum" class="ion-padding-start" color="primary">Visa {{card.cardNum.substr(-4)}}</ion-label>
      <ion-label *ngIf="card.cardNum.charAt(0) == 5 && cardNum == card.cardNum" class="ion-padding-start" color="primary">Mastercard {{card.cardNum.substr(-4)}}</ion-label>
    </ion-item>
    <ion-item (click)="addCards()">
      <ion-icon name="add-circle-outline" id="addIcon"></ion-icon>
      <ion-label id="addCardText">Add a new card</ion-label>
    </ion-item>
  </ion-card>
  <ion-button expand="full" (click)="selectCard()">
    Select card
  </ion-button>
</ion-content>
