<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="marketplace"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="pay()">
    Pay
  </ion-button>
  <div class="ion-padding">
    <strong>Select Payment Method</strong>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col id="payments">
        <ion-icon name="card" id="paymentIcon"></ion-icon>
        <ion-label id="paymentName">Credit/Debit Card</ion-label><br>
        <ion-label id="paymentDesc" class="ion-margin-top" (click)="addCards()" *ngIf="cardCheck == false">Tap to add card</ion-label>
        <ion-label id="paymentDesc" class="ion-margin-top" (click)="selectCards()" *ngIf="cardCheck == true && cardType == ''">Select a card</ion-label>
        <ion-label id="paymentDesc" class="ion-margin-top" (click)="selectCards()" *ngIf="cardCheck == true">{{cardType}} {{cardNum}}</ion-label>
      </ion-col>
      <ion-col class="ion-margin-start" id="payments">
        <ion-icon name="logo-paypal" id="paymentIcon"></ion-icon>
        <ion-label id="paymentName">Paypal</ion-label><br>
        <ion-label id="paymentDesc" class="ion-margin-top">Checkout through PayPal</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="paypal-button-container"></div>
  </ion-content>
 