ion-toolbar {
    background: var(--ion-color-success-shade);
    color: #fff;
}

#payments {
    border-radius: 5px;
    border: 1px solid #DCDCDC;
}

#paymentIcon {
    font-size: 16px;
    font-weight:bold;
    float:left;
    color: var(--ion-color-primary);
    margin-right:5px;
}

#paymentName {
    font-size: 16px;
    font-weight:bold;
    float:left;
}

#paymentDesc {
    font-size: 12px;
    float:left;
}