<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Education Home</ion-title>
    <a (click)=notificationsPage() class="notification" slot="end">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge class="badge" *ngIf="notificationCount != 0">{{ notificationCount }}</ion-badge>
    </a>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionChange)=search($event) #searchBar class="searchBar"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid id="ionicGrid">
    <ion-row class="ion-text-center">
      <ion-col id="recentTab">
        <button id='hidden-button' ion-button (click)="displayRecent()">
          <ion-label>Most Recent</ion-label>
        </button>
      </ion-col>
      <ion-col id="votesTab">
        <button id='hidden-button' ion-button (click)="displayVotes()">
          <ion-label>Most Votes</ion-label>
        </button>
      </ion-col>
      <ion-col id="commentsTab">
        <button id='hidden-button' ion-button (click)="displayComments()">
          <ion-label>Most Comments</ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOpts" pager>
    <ion-slide *ngFor="let i of imageArray">
      <img [src]="i" alt="">
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item *ngFor="let item of allPosts" class="ion-no-padding imageCss">
      <ion-thumbnail slot="start" (click)=educationDetails(item.id)>
        <img [src]=item.image >
      </ion-thumbnail>

      <ion-label>
        <h2 class="ion-text-wrap" (click)=educationDetails(item.id)>{{item.title}}</h2>
        <p (click)=educationDetails(item.id)>{{item.subtitle}}</p>
        <p (click)=educationDetails(item.id)>DatePosted: {{item.datePosted | date:'d MMM yyyy'}}</p>
        <p (click)=educationDetails(item.id)>Written By: {{item.writtenBy}}</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button *ngFor="let tag of item.tags" fill="clear" class="tagCss" (click)="educationplatformTags(tag)">
                #{{tag}}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center VotesCss" (click)=educationDetails(item.id)>
            <ion-col>
              <ion-label class="">{{item.votes}}
                <ion-icon name="thumbs-up-outline" class="iconVotes"></ion-icon>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.count}} 
                <ion-icon name="chatbubble-ellipses-outline" class="iconVotes"></ion-icon>
              </ion-label>
            </ion-col>   
          </ion-row>  
        </ion-grid>
      </ion-label>
      
     
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        <h2>Recommendations</h2>
      </ion-label>
    </ion-item-divider>
  </ion-list>
  <ion-list class="ion-no-padding">
    <ion-item *ngFor="let item of recArray">
      <ion-thumbnail slot="start" (click)=educationDetails(item.id)>
        <img [src]=item.image>
      </ion-thumbnail>

      <ion-label (click)=educationDetails(item.id)>
        <h2>{{item.title}}</h2>
        <p>{{item.subtitle}}</p>
        <p>DatePosted: {{item.datePosted | date:'d MMM yyyy'}}</p>
        <p>Written By: {{item.writtenBy}}</p>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>