<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Beans Rewards Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div ngIf="isUser">

  </div>
  <div ngIf="isBusiness">

  </div> -->
  <div class="ion-padding-horizontal ion-padding-top ion-text-center">
    <h2 class="NoOfBeans">{{NoOfBeans}} <img src="assets/icon/beans.png" class="beans">
      <ion-icon name="chevron-forward-outline" color="light" class="arrow-icon" (click)="routebeansHistory()"></ion-icon>
    </h2>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" id="BeansButton" color="success-shade" size="large" class="buttonBeans ion-margin" (click)="addBeans()">
      Click here
      to get 1 bean</ion-button>
  </div>

  <div *ngIf="isUser">
    <ion-card>
      <ion-item>
        <ion-label>Earn GreenIT Beans</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-thumbnail>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-thumbnail>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-thumbnail>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-thumbnail>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-thumbnail>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-thumbnail>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
              </ion-thumbnail>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="isBusiness">
  <!-- <div> -->
    <ion-card>
      <ion-item>
        <ion-label>Buy GreenIT Beans</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{fewbeansQuantity}} <img src="assets/icon/beans.png" class="beans-card"></ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="ion-text-center">
            <img src={{fewBeansPic}} >
            <ion-button expand="block" fill="outline" color="success-shade" class="buttonColor" (click)="checkout(fewBeans,fewbeansQuantity,fewBeansPic)">{{fewBeans | currency}}</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{somebeansQuantity}} <img src="assets/icon/beans.png" class="beans-card"></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content class="ion-text-center">
            <img src={{someBeansPic}} >
            <ion-button expand="block" fill="outline" color="success-shade" class="buttonColor" (click)="checkout(someBeans, somebeansQuantity, someBeansPic)">{{someBeans | currency}}</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{manybeansQuantity}} <img src="assets/icon/beans.png" class="beans-card"></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content class="ion-text-center">
            <img src={{manyBeansPic}} >
            <ion-button expand="block" fill="outline" color="success-shade" class="buttonColor" (click)="checkout(manyBeans, manybeansQuantity, manyBeansPic)">{{manyBeans | currency}}</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
