<ion-header>
  <ion-toolbar color="success-shade">
    <ion-title>Register As?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-button expand="block" color="success-shade" type="submit" (click)="login()">
    Log In
  </ion-button> -->
  <ion-grid>
    <ion-row class="roundedRow ion-margin ion-text-center" (click)="clickBusiness()">
      <ion-col class="ion-padding">
        <img src="assets/images/business_signup.PNG" class="img-icon">
        <ion-label class="ion-margin-vertical">
          <p>Register As Business</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="roundedRow ion-margin ion-text-center" (click)="clickUser()">
      <ion-col class="ion-padding">
        <img src="assets/images/customer_signup.PNG" class="img-icon">
        <ion-label class="ion-margin-vertical">
          <p>Register As Customer</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
