ion-toolbar{
    background: var(--ion-color-success-shade);
    color: #fff;
}

#color {
    color: #FFFFFF;
}

.votescss{
    background: rgba(214,217,220,0.2);
    
}
.iconVotes{
    font-size: 20px;
    vertical-align:bottom;
    color: var(--ion-color-success-shade);
}
.tagCss{
    background: #e1ecf4;
    color: #39739d;
    border-radius: 0;
}