<ion-tabs>

   <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1" *ngIf="isUser">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" *ngIf="isUser">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" *ngIf="isUser">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->

    <!-- Admin tabs -->
    <ion-tab-button tab="tab1" *ngIf="isAdmin" [class.active-item]="selectedPath.includes('tab1')">
      <ion-icon name="laptop-outline"></ion-icon>
      <!-- Social Media and Education -->
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" *ngIf="isAdmin" [class.active-item]="selectedPath.includes('tab2')">
      <ion-icon name="folder-open-outline"></ion-icon>
      <ion-label>Pending Review</ion-label>
      <ion-badge id="cart-badge" color="warning" *ngIf="isReview"><ion-icon name="alert-outline"></ion-icon></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab3" *ngIf="isAdmin" [class.active-item]="selectedPath.includes('tab3')">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>