<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="educationplatform-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Education Notifiactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding" *ngFor="let noti of notificationArray">
    <ion-item (click) = postDetails(noti.postId,noti.commentId)>
      <!-- <ion-thumbnail slot="start">
        <img [src]=item.image>
      </ion-thumbnail> -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label *ngIf="noti.vote == false" class="ion-padding-start ion-margin-top">
              <span class="dot" *ngIf="noti.userNotified == false"></span>
              <span class="empty" *ngIf="noti.userNotified == true"></span>
              <strong>{{noti.commentUser}}</strong> commented on your post.
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="noti.isMinutes == true && noti.isHours == false && noti.minutes == 0">
            <ion-label id="notificationDate" class="ion-padding-start" style="padding-left: 35px">A few moments ago</ion-label>
          </ion-col>
          <ion-col *ngIf="noti.isMinutes == true && noti.isHours == false && noti.minutes == 1">
            <ion-label id="notificationDate" class="ion-padding-start" style="padding-left: 35px">{{noti.minutes}} min ago</ion-label>
          </ion-col>
          <ion-col *ngIf="noti.isMinutes == true && noti.isHours == false && noti.minutes != 0 && noti.minutes > 1">
            <ion-label id="notificationDate" class="ion-padding-start" style="padding-left: 35px">{{noti.minutes}} mins ago</ion-label>
          </ion-col>
          <ion-col *ngIf="noti.isMinutes == false && noti.isHours == true && noti.hours == 1">
            <ion-label id="notificationDate" class="ion-padding-start" style="padding-left: 35px">{{noti.hours}} hour ago</ion-label>
          </ion-col>
          <ion-col *ngIf="noti.isMinutes == false && noti.isHours == true && noti.hours > 1">
            <ion-label id="notificationDate" class="ion-padding-start" style="padding-left: 35px">{{noti.hours}} hours ago</ion-label>
          </ion-col>
          <ion-col *ngIf="noti.isMinutes == false && noti.isHours == false">
            <ion-label id="notificationDate" class="ion-padding-start" style="padding-left: 35px">{{noti.date | date:"MMM dd"}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
