<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pending reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        <h2>
          Flagged
        </h2>
      </ion-label>
    </ion-item-divider>
  </ion-list>
  <div class="ion-text-center">
    <ion-item routerLink="/product-flag">
      <ion-icon name="flag" color="danger" ></ion-icon>
      <div class="verticalLine"></div>
      <ion-label>
        View all Flagged Products
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </div>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        <h2>
          Pending
        </h2>
      </ion-label>
    </ion-item-divider>
  </ion-list>
  <div class="ion-text-center">
    <ion-item routerLink="/product-pending">
      <ion-icon name="flag" class="pending-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-label>
        View all Products Pending for Review
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </div>
  <div class="ion-text-center">
    <ion-item routerLink="/carbonfootprint-pending">
      <ion-icon name="flag" class="pending-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-label>
        View Carbon Footprint Pending for Review
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </div>

</ion-content>