ion-toolbar{
    color: #fff;
}
.verticalLine {
    width:1%;
    height:50px;
    margin-top: 0;
    position: relative;
    margin-left: 5%;
  }
  .pending-icon{
    color: var(--ion-color-warning-shade);
  }