<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Beans History Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-label class="NoOfBeans">{{NoOfBeans}}</ion-label>
    <ion-label> beans available</ion-label>
    <!-- <h2>{{NoOfBeans}} <img src="assets/icon/beans.png" class="beans"> -->
    <!-- </h2> -->
  </div>

  <ion-grid id="ionicGrid">
    <ion-row class="ion-text-center">
      <ion-col id="displayAllHistoryTab">
        <button id='hidden-button' (click)="displayAllHistory()">
          <ion-icon name="reader-outline" class="icon-edit" id="allHistoryIcon"></ion-icon>
          <div class="verticalLine"></div>
          <ion-label id="allHistoryLabel">All History</ion-label>
        </button>
      </ion-col>
      <ion-col id="displayEarningsTab">
        <button id='hidden-button' (click)="displayEarnings()">
          <ion-icon name="cash-outline" class="icon-edit" id="EarningsIcon"></ion-icon>
          <div class="verticalLine"></div>
          <ion-label id="EarningsLabel">Earnings</ion-label>
        </button>
      </ion-col>
      <ion-col id="displaySpendingsTab">
        <button id='hidden-button' (click)="displaySpendings()">
          <ion-icon name="cash-outline" class="icon-edit" id="SpendingsIcon"></ion-icon>
          <div class="verticalLine"></div>
          <ion-label id="SpendingsLabel">Spendings</ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let item of history">
      <ion-thumbnail slot="start">
        <img [src]=item.image class="beans">
      </ion-thumbnail>

      <ion-label>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <p>{{item.date | date:'d MMM yyyy'}}</p>

      </ion-label>

         <ion-icon name="add-outline" *ngIf="item.add == true"></ion-icon>
        <ion-icon name="remove-outline" *ngIf="item.minus == true"></ion-icon>
        {{item.numberofbeans}}
        
      

    </ion-item>

  </ion-list>


</ion-content> 