<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Admin Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isAdmin" class="ion-padding">
    <ion-grid class="ion-padding ion-margin">
      <ion-row>
        <ion-col>
          <ion-item class="ion-text-center">
            <ion-icon name="person-add-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Total Users:</ion-label>
          </ion-item>
          <h3 class="ion-text-center">{{userCount}}</h3>
        </ion-col>
        <ion-col>
          <ion-item class="ion-text-center">
            <ion-icon name="storefront-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Total Business:</ion-label>
          </ion-item>
          <h3 class="ion-text-center">{{BusinessCount}}</h3>
          
        </ion-col>
        <ion-col>
          <ion-item class="ion-text-center">
            <ion-icon name="people-outline"></ion-icon>
            <div class="verticalLine"></div>
            <ion-label>Total Crowdfunding:</ion-label>
            <ion-icon name="arrow-forward-outline"  [routerLink]="['/total-business']"></ion-icon>
          </ion-item>
          <h3 class="ion-text-center">{{crowdfundingCount}}</h3>
          
        </ion-col>
      </ion-row>
      </ion-grid>
    </div>
</ion-content>
