.verticalLine {
    width:1%;
    height:50px;
    margin-top: 0;
    position: relative;
    margin-left: 5%;
  }

.person-icon {
    vertical-align:bottom;
    font-size: 25px;
}

.margin-start {
    display:inline-block;
}

.edit-icon{
    vertical-align:bottom;
    font-size: 25px;
    color: #2FAE90;
}
.item-text{
    vertical-align:top;
    
}
.color-icon{
    color: var(--ion-color-primary);
}
