<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="view-product-listing"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <img [src]=product.image *ngIf="productImage != null" class="ion-padding-top">
  </ion-item>
  <form [formGroup]="editProductForm">
    <ion-item>
      <ion-icon name="bookmark-outline" class="color-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-input formControlName="name" value="{{productName}}">
        <ion-label>Title:</ion-label>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag-outline" class="ion-padding-end" class="color-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-input formControlName="price" value="{{productPrice}}">
        <ion-label>Price ($):</ion-label>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document-text-outline" class="ion-padding-end ion-padding-top" class="color-icon" id="reader-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-textarea formControlName="description" value="{{productDesc}}">Description:</ion-textarea>
    </ion-item>
    
    <ion-item lines="none">
      <ion-icon name="flash-outline" class="color-icon"></ion-icon>
      <div class="verticalLine"></div>
      <ion-label>Boost</ion-label>
      <ion-toggle formControlName="boost" value="{{productBoost}}"></ion-toggle>
    </ion-item>

    <ion-button expand="block" color="secondary" type="submit" (click)="update()">
      Update
    </ion-button>

  </form> 
</ion-content>
