<ion-header>
  <ion-toolbar color="success-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="educationplatform"></ion-back-button>
    </ion-buttons>
    <ion-title>Tags
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button fill="clear" class="tagCss">
      #{{tag}}
    </ion-button>
  </ion-item>
 
  <ion-item-divider color="medium">
  </ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let item of displayArray">
        <ion-thumbnail slot="start" (click)=educationDetails(item.id)>
          <img [src]=item.image>
        </ion-thumbnail>
  
        <ion-label (click)=educationDetails(item.id)>
          <h2>{{item.title}}</h2>
          <p>{{item.subtitle}}</p>
          <p>DatePosted: {{item.datePosted | date:'d MMM yyyy'}}</p>
          <p>Written By: {{item.writtenBy}}</p>
  
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
