
<ion-header>
 
  <ion-toolbar color="success-shade">
    
    <ion-buttons slot="start" *ngIf="isUser || isBusiness">
      <ion-back-button defaultHref="crowdfundingtabs/crowdfunding"></ion-back-button>
    </ion-buttons>



    <ion-buttons slot="start" *ngIf="isAdmin">
      <ion-back-button defaultHref="crowdfunding-pending"></ion-back-button>
    </ion-buttons>

    <ion-title>Crowdfunding Details</ion-title>

    <ion-buttons slot="end" *ngIf="isAdmin" (click)=editCrowdfunding(crowdId)>
      <ion-icon name="create-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card size-sm>
    <img class="imageAdjust"[src]=crowdFundingImage>
    <ion-card-header>
      <ion-icon color="success" name="leaf" *ngIf="crowdecoRating >= 1"></ion-icon>
        <ion-icon color="success" name="leaf" *ngIf="crowdecoRating >= 2"></ion-icon>
        <ion-icon color="success" name="leaf" *ngIf="crowdecoRating >= 3"></ion-icon>
        <ion-icon color="success" name="leaf" *ngIf="crowdecoRating >= 4"></ion-icon>
        <ion-icon color="success" name="leaf" *ngIf="crowdecoRating >= 5"></ion-icon>
        <div *ngIf="crowdStatus === 'approved'">
        <ion-label color="success" class="verifiedText">
          <ion-icon name="checkmark-done-circle-outline"></ion-icon> Verified
        </ion-label>
      </div>
      <ion-card-title><h2>{{crowdFundingName}}</h2></ion-card-title>
      <ion-card-subtitle>
        <ion-label class="fontsizing2" >Raised for: {{crowdUsername}}</ion-label>
        <p></p>
        <ion-col> <ion-label class="fontReceive" >{{receiveAmt | currency}} </ion-label>/<ion-label> {{goalAmt | currency}}</ion-label></ion-col>
        <ion-progress-bar color="success" value="{{receiveAmt / goalAmt }}"></ion-progress-bar>
      </ion-card-subtitle>
      <ion-card-content>
        <ion-label class="fontsizing">{{crowdFundingDesc}}</ion-label>
      </ion-card-content>
    </ion-card-header>
    
    

  </ion-card>
  <div *ngIf="isUser">
  <ion-card class="disclaimer">
    <ion-card-content>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Disclaimer: Note that by donating you are contributing to a cause. The promise end of the Business may or may not be able to produce what is stated. By donating you hereby understand and have read this message.</ion-label>
    </ion-card-content>
  </ion-card>
    
  
  <ion-card>
  <ion-card-header>
    <ion-card-title><ion-label>Support us!</ion-label></ion-card-title>
  </ion-card-header>

  
  <form [formGroup]="donateForm">

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col ><ion-button (click)=buttonAd5Dol()>$5</ion-button></ion-col>
        <ion-col ><ion-button (click)=buttonAd10Dol()>$10</ion-button></ion-col>
        <ion-col ><ion-button (click)=buttonAd20Dol()>$20</ion-button></ion-col>
        <ion-col ><ion-button (click)=buttonAd50Dol()>$50</ion-button></ion-col>
        <ion-col ><ion-button (click)=buttonAd100Dol()>$100</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card-subtitle>
    <ion-item>
      <ion-label>Funding Amount:</ion-label>
      <ion-input type="number" formControlName="donateAmt">$</ion-input>
    </ion-item>
    </ion-card-subtitle>

  </form>


</ion-card>

  <div id="paypal-button-container">
  </div>

  <!-- <script src="https://www.paypal.com/sdk/js?client-id=AREqKBqKHmPRL8jokM6e5m9Uo6TocjJdQ9wJCXgqyA9VaoDgL3qPKtTj93hzV8ata-cAKxNJ5euaUk_V&currency=SGD"></script> -->
  <!-- <script>
    paypal.Buttons().render('#paypal-button-container')
  </script> -->
  </div>

  <div *ngIf="isAdmin">
    <ion-button color="success" expand="block">Approve</ion-button>
    <ion-button color="danger" expand="block">Delete</ion-button>
  </div>
  
</ion-content>
