ion-toolbar{
    background: var(--ion-color-success-shade);
    color: #fff;
}

.imageAdjust{
    width:100%;
}

h2{
    font-weight: bold;
}

ion-icon {
    font-size: 25px;
  }

  .fontsizing{
      font-size: 16px;
  }
  .fontsizing2{
    font-size: 16px;
    font-weight: bold;
}

.fontReceive{
  font-size: 15px;
  font-weight: bold;
}
ion-grid{
    --ion-grid-padding:20px;
}

.cssAdjust{
    padding-right: 10px;
}

.pendingText{
    font-size: 20px;
}