<ion-header>
  <ion-toolbar color='secondary-shade'>
    <ion-title>Your Posts</ion-title>
    <ion-buttons slot="end">
      <ion-button id="color" [routerLink]="['/create-education-post']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of posts" class="ion-no-padding">
    <ion-item-sliding>
      <ion-item [routerLink]="['/edit-education-post', item.id]">
        <ion-thumbnail slot="start">
          <img [src]=item.image *ngIf="item.image">
          </ion-thumbnail>
        <ion-label>
          <h3>{{item.title}}</h3>
          <p>{{item.datePosted | date:'d MMM yyyy'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button id="color" type="submit" (click)="presentConfirm(item)"><ion-icon name="trash-bin" id="color"></ion-icon><br>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-label *ngIf = "posts == 0" class="ion-padding-start ion-padding-top">
    Add a new post
  </ion-label>
</ion-content>
