<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Signing Out!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="signout">
    <ion-card class="signoutCard" >
    <ion-label><h1>
    Are you sure you want to Sign Out?
  </h1>
  </ion-label>
  <ion-button color="success" expand="block" (click)="signout()" >
    <ion-icon name="log-out-outline"></ion-icon><ion-label>Sign Me Out</ion-label>
  </ion-button>
</ion-card>

</div>



</ion-content>
