<ion-header>
  <ion-toolbar color='secondary-shade'>
    <ion-buttons slot="start" id="color">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-margin-end ion-margin-top ion-no-padding ion-padding-end" id="color">
        <ion-label><h1><ion-icon name="leaf-outline" class="iconMargin"></ion-icon>GreeniT</h1></ion-label>
    </ion-title>
    <!-- <ion-grid class="ion-margin"> -->
      <!-- <ion-row class="ion-justify-content-evenly">
        <ion-col class="ion-text-center ion-margin-start" size="1">
          <ion-label id="color">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-label>
        </ion-col> -->
        <!-- <ion-col size="10">
          <ion-label id="color">
            Welcome back, {{username}}
          </ion-label>
        </ion-col> -->
      <!-- </ion-row> -->
    <!-- </ion-grid> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding ion-margin ion-text-center">
        <h3>Welcome back, {{userUsername}}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding" style="border-bottom: 1px solid grey; border-top: 1px solid grey;">
      <ion-col class="ion-padding" (click)="cards()">
        <ion-icon name="card-outline" class="cardsIcon"></ion-icon>
        <ion-label class="LabelFontSize">Cards</ion-label>
      </ion-col>
      <ion-col class="cell-class ion-padding" style="border-left: 1px solid grey;" (click)="beans()">
        <img src="assets/icon/beans.png" class="beans">
        <ion-label class="LabelFontSize NoOfBeans">{{NoOfBeans}} <ion-label color="light">Beans</ion-label></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <ion-card color="success">
    <div class="ion-text-center">
      <img src={{userImage}} class="cardImg">
      <ion-label>
        <h1>{{userUsername}}&nbsp;<ion-icon name="shield-checkmark-outline" *ngIf = "isBusiness === true"></ion-icon></h1>
        <P>{{type}}</P>
        <div *ngIf = "isBusiness === true">
        <p><ion-icon name="leaf-outline"></ion-icon> 5 <ion-icon name="star-outline"></ion-icon> 4.5</p>
      </div>
    </ion-label>
    </div>
                    
  </ion-card> -->
  <ion-grid class="ion-margin">
    <ion-row class="ion-text-center"> 
      <ion-col>
          <div (click)="marketplace()">
            <img src="assets/icon/marketplace_icon.png" class="img-icon">
            <ion-label>Marketplace</ion-label>
          </div>       
      </ion-col>
      <ion-col>
        <div (click)="crowdfuding()">
        <img src="assets/icon/leaderboard_icon.png" class="img-icon">
        <br>
        <ion-label>Eco-rating LeaderBoard</ion-label>
      </div>
      </ion-col>
      <ion-col>
        <div (click)="education()">
          <img src="assets/icon/education_icon.png" class="img-icon">
          <ion-label>Education</ion-label>
        </div>      
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-padding-top" > 
      <ion-col *ngIf="isBusiness">
          <div (click)="carbonFootprint()">
            <img src="assets/icon/carbonFootprint_icon.PNG" class="img-icon" >
            <ion-label>Carbon Footprint</ion-label>
          </div>       
      </ion-col>

      <ion-col>
        <div (click)="crowdfuding()">
          <img src="assets/icon/crowdFunding_icon.png" class="ion-margin-end img-icon">
          <br>
          <ion-label>Crowd Funding</ion-label>
        </div>
        
      </ion-col>
      <ion-col *ngIf="isUser">
        <div>
          <img src="assets/icon/analytics_icon.png" class="img-icon">
          <br>
          <ion-label>Coming soon</ion-label>
        </div>      
      </ion-col>
      <ion-col *ngIf="isUser">
        <div>
          <img src="assets/icon/analytics_icon.png" class="img-icon">
          <br>
          <ion-label>Coming soon</ion-label>
        </div>      
      </ion-col>
      <ion-col *ngIf="isBusiness" (click)="sasva()">
        <div>
          <img src="assets/icon/sas_icon_.png" class="img-icon">
          <br>
          <ion-label>Visual Analytics</ion-label>
        </div>      
      </ion-col>
    </ion-row>
    <ion-row class="roundedRow ion-margin ion-text-center">
      <ion-col class="ion-padding">
        <ion-label>
          Advertisements
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="roundedRow ion-margin ion-text-center">
      <ion-col class="ion-padding">
        <ion-label>
          Tips (Static)
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="roundedRow ion-margin ion-text-center">
      <ion-col class="ion-padding">
        <ion-label>
          Campaign (Link)
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button expand="block" (click)="carbonFootprint()">
    Carbon Footprint Calculator
  </ion-button> -->

</ion-content>
